body {
    background: #232323;
    margin: 0;
    font-family: 'Nunito';
}

.square { 
    background: purple;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 1s;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
}

#container{
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: white;
    background: steelblue;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 0;
}

#colorDisplay{
    font-size: 1.75em;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
}

.selected{
    color: white;
    background: steelblue;
}

button{
    border: none;
    background: none;
    height: 100%;
    font-family: inherit;
    color: steelblue;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    outline: none;
}

button:hover{
    color: white;
    background: steelblue;
}

#messageDisplay {
    display : inline-block;
    width: 20%;
}